.shop {
    min-height: 800px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
        /*padding: 80px 120px;*/
        display: flex;
        flex-direction: column;

        padding-left: 200px;

        h1 {
            text-align: left;
        }
    }

    .product__div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product {
        /*Separacion entre las imagenes*/
        flex-direction: row;

        &__item {
            width: 200%;
            max-width: 800px;
        }
    }
}
