/*Importe la fuente para la pág web*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.header {
    width: 100%;
    background-color: #1e232f;
}

.header__nav {
    font-size: 25px;
    padding: 0px 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav a {
    color: #fff;
    text-decoration: none;
    padding: 0px 8px;
}

.header__nav a:visited {
    color: #fff;
    text-decoration: none;
}

.header__nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__btns input {
    /*Crear el buscador*/
    background-color: #1e232f;
    outline: none;
    border: none;
    padding: 16px 8px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 20px;
}

.header__btns {
    gap: 28px;
}

.banner img {
    width: 100%;
}

h1 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    /* identical to box height */

    color: #1e232f;
}

h1 b {
    font-weight: bolder;
}
/*
h2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
}

h2 b {
    font-weight: medium;
    font-size: 24px;
}
*/

.characters {
    margin-top: 20px; /*Espacios entre arriba y abajo*/
    width: 100%;
}

.characters img {
    width: 100%;
}

.clothing {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.newCollections {
    width: 50%;
    padding: 40px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.product__item {
    display: flex;
    flex-direction: column;
}
