/*Importe la fuente para la pág web*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.header {
    width: 100%;
}

.header__nav {
    background-color: #1e232f;
    font-size: 25px;
    padding: 0px 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav a {
    color: #fff;
    text-decoration: none;
    padding: 0px 8px;
}

.header__nav a:visited {
    color: #fff;
    text-decoration: none;
}

.header__nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__btns input {
    /*Crear el buscador*/
    background-color: #1e232f;
    outline: none;
    border: none;
    padding: 16px 8px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 20px;
}

.header__btns {
    gap: 28px;
}

.banner {
    display: flex;
    overflow: hidden; /*Se esconde las otras imagenes segun otro metodo*/
}

.banner img {
    width: 100%;
}

h1 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    /* identical to box height */

    color: #1e232f;
}

h1 b {
    font-weight: bolder;
}
/*
h2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
}

h2 b {
    font-weight: medium;
    font-size: 24px;
}
*/

.characters {
    margin-top: 90px; /*Espacios entre arriba y abajo*/
    width: 100%;
}

.characters img {
    width: 100%;
}

.clothing {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clothing__title {
    align-self: baseline;
    padding: 40px 80px;
}

.clothing__info {
    width: 25%;
    padding-right: 60px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.newCollections {
    width: 50%;
    padding: 40px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.product__item {
    display: flex;
    flex-direction: column;
}

.subscriptionForm {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 60px;

    background-color: #ff1c22;
    color: #fff !important;
    font-size: 30px;
}

.subscriptionForm__input {
    min-width: 400px;
}

.subscriptionForm__input,
.subscriptionForm__btn {
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 20px;
}

footer {
    width: 100%;
}

footer hr {
    border: 1px solid #ff1c22;
}

.footer__info {
    width: 100%;
    height: fit-content;
    padding: 30px 60px;
    background-color: #1e232f;

    display: flex;
    justify-content: space-around;

    color: #fff !important;
}

.footer__info__column__row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer__info__column__row img {
    width: 30px;
}

.footer__info p,
.footer__info h1 {
    color: #fff !important;
}

.footer__copyright {
    background-color: #fff;
    padding: 50px;
}

.footer__copyright p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: black;
    text-align: center;
}

/*swiper*/

.swiper {
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px !important;
    height: 500px !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
