@media all and (max-width: 413px) {
    .stepsBuy {
        width: 100%;
    }

    .product__image--main {
        height: 100px;
    }

    .header__nav--mobile {
        display: flex !important;
    }

    .header__nav--mobile img {
        max-height: 90px;
    }

    .header__nav {
        display: none;
    }

    .clothing {
        flex-direction: column;
        align-items: center;
    }

    .clothing__info {
        width: 100%;
        align-items: center;
        padding: 0px;
        margin-bottom: 40px;
    }

    .product {
        padding: 0px 40px;
        width: 60%;
        flex-direction: column;
    }

    .subscriptionForm {
        flex-direction: column;
    }

    .footer__info {
        flex-direction: column;
    }
}
