@charset "UTF-8";
/*Importe la fuente para la pág web*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.header {
  width: 100%;
}

.header__nav {
  background-color: #1e232f;
  font-size: 25px;
  padding: 0px 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .header__nav {
    font-size: 13px;
  }
}

.header__nav--mobile {
  display: none !important;
}

.header__nav a {
  color: #fff;
  text-decoration: none;
  padding: 0px 8px;
}

.header__nav a:visited {
  color: #fff;
  text-decoration: none;
}

.header__nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btns {
  gap: 28px;
}

.header__btns input {
  /*Crear el buscador*/
  background-color: #1e232f;
  outline: none;
  border: none;
  padding: 16px 8px;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 20px;
}

.clothing {
  width: 100%;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clothing__title {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding: 40px 80px;
}

.clothing__info {
  width: 25%;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.infoClothes__info {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding: 50px 70px;
  width: 100%;
}

.infoClothes__reel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 60px;
}

.infoClothes__photos {
  position: relative;
  width: 413px;
  height: 598px;
  background-color: black;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoClothes__photos img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.infoClothes__photos p {
  color: white;
  padding: 30px;
}

.infoClothes__photos:hover img {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  /*Separacion entre las imagenes*/
}

.product__item {
  width: 100%;
  max-width: 400px;
}

.product__image,
.product__image--main,
.product__image--hover {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #f5f5f5;
}

.product__image--hover {
  display: none;
}

.product__image:hover .product__image--main {
  display: none;
}

.product__image:hover .product__image--hover {
  display: block;
}

.swiper {
  width: 100%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px !important;
  height: 500px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.subscriptionForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  background-color: #ff1c22;
  color: #fff !important;
  font-size: 30px;
}

.subscriptionForm__input {
  min-width: 400px;
}

.subscriptionForm__input,
.subscriptionForm__btn {
  outline: none;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  font-size: 20px;
}

@media all and (max-width: 768px) {
  .stepsBuy {
    width: 100%;
  }
  .product__image--main {
    height: 100px;
  }
  .header__nav--mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header__nav--mobile img {
    max-height: 90px;
  }
  .header__nav {
    display: none;
  }
  .clothing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clothing__info {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    margin-bottom: 40px;
  }
  .product {
    padding: 0px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__image {
    height: 300px;
  }
  .product__image img {
    height: 300px;
  }
  .clothing__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0px 10px;
  }
  .infoClothes__info {
    text-align: center;
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoClothes__reel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .infoClothes__photos {
    height: 350px;
    width: 100%;
  }
  .subscriptionForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .subscriptionForm__input {
    min-width: 0px !important;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 36px;
    padding: 36px 26px;
  }
  .shop__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  width: 100%;
}

.footer p,
.footer h1 {
  color: #fff !important;
}

.footer hr {
  border: 1px solid #ff1c22;
}

.footer__info {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 60px;
  background-color: #1e232f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff !important;
}

.footer__info__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer__info__column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info__column__row img {
  width: 30px;
}

.footer__copyright {
  background-color: #fff;
  padding: 20px;
}

.footer__copyright p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: black !important;
  text-align: center;
}

.login,
.register,
.shoppingForm {
  min-height: 500px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login h1,
.login a,
.register h1,
.register a,
.shoppingForm h1,
.shoppingForm a {
  text-align: center;
}

.login__form,
.register__form,
.shoppingForm__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 300px;
  gap: 20px;
}

.login__input,
.register__input,
.shoppingForm__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.button {
  background-color: #ff1c22;
  border: none;
  padding: 5px 0;
}

.button span {
  color: #fff;
}

.button:hover {
  cursor: pointer;
}

.shop {
  min-height: 800px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__info {
  padding: 80px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}

.shop .product__div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop .product {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 200px;
  padding: 100px 200px;
  /*Separacion entre las imagenes*/
}

.shop .product__item {
  width: 200%;
  max-width: 800px;
}

.shoppingCart {
  min-height: 500px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 100px;
}

.cartList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding-bottom: 50px;
}

.cartList__titles {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-bottom: 2px solid #ff1c22;
}

.cartList__titles__info {
  width: 40%;
}

.cartList__titles__quantity {
  width: 20%;
}

.cartList__titles__price {
  width: 20%;
}

.cartList .card__product {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 2px solid #ff1c22;
}

.cartList .card__product__info {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.cartList .card__product__info__img {
  max-width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

.cartList .card__product__info__text {
  max-width: 250px;
}

.cartList .card__product__quantity {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartList .card__product__quantity p {
  padding: 20px;
  border: 2px solid #000;
}

.cartList .card__product__price {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartList .card__product__erase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.cartList .card__product__erase img {
  max-width: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}

#createProductForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 100px 0px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.html,
body {
  width: 100%;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  /*Se esconde las otras imagenes segun otro metodo*/
}

.banner img {
  width: 100%;
}

.stepsBuy {
  width: 100%;
}

h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  /* identical to box height */
  color: #1e232f;
}

h1 b {
  font-weight: bolder;
}

/*
h2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
}

h2 b {
    font-weight: medium;
    font-size: 24px;
}
*/
.characters {
  margin-top: 90px;
  /*Espacios entre arriba y abajo  (flex-wrap: wrap;)*/
  width: 100%;
}

.characters img {
  width: 100%;
}

button {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */